

:root {
    --background-clr: #63608a;
    --dark-clr: #14080E;
    --teal: #adaad6;
    --dark-green: #d6f1b8;
    --light-green: #E3D7FF;
    --home-clr:  #f8312f;
    --email-clr: #00a6ed;   
    --social-clr: #6b438b;    
    --text-clr: #0B132B;        
    --pg-background: #b57adb;
    --shadow--clr: rgba(37, 3, 60, 0.30);
    --gradient: linear-gradient(180deg, rgba(227,226,254,1) 0%, rgba(224,161,219,1) 37%, rgba(181,122,219,1) 64%, rgba(103,65,194,1) 95%);

}



body {
    box-sizing: border-box;
    background-color: var(--pg-background);

}

header {
    background: rgb(227,226,254);
    background: linear-gradient(180deg, rgba(227,226,254,1) 0%, rgba(224,161,219,1) 37%, rgba(181,122,219,1) 64%, rgba(103,65,194,1) 95%);
    color: var(--text-clr);
    z-index: 1;
    border: var(--light-green) solid 2px;
    border-radius: .8em;
    box-shadow: -.5em .75em 1em var(--shadow--clr);

}

header {
    display: flex;
    width: 97%;
    position: fixed;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;

}
 h1 {
    color: var(--text-clr);
 }

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;

}

li {
    display: inline;
    margin: 0 .2rem;
}

nav {
}

header a {
    line-height: 1.3rem;

    /* text-decoration: none; */
}


/* Nav bar */
.home {
    color: var(--home-clr);
    background-color: var(--teal);
    text-decoration: none;
    position: relative;
    transition: 250ms ease;
    padding: 2px 5px;
    border-radius: 4px;
}

.home::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--home-clr);
    transform: scaleX(0);
    transform-origin: center;
    transition: ease 400ms;
}

.home:hover {
    font-size: 1.5rem;
}

.home:hover::after {
    transform: scaleX(.95);
    transform-origin: center;
}

.contact {
    color: var(--email-clr);
    background-color: var(--teal);
    border-radius: 4px;
    text-decoration: none;
    padding: 2px 5px;
    position: relative;
    transition: 250ms ease;
}

.contact::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--email-clr);
    transform: scaleX(0);
    transform-origin: center;
    transition: ease-in 250ms;
}

.contact:hover {
    font-size: 1.5rem;
}

.contact:hover::after {
    transform: scaleX(.96);
    transform-origin: center;
}

.social {
    color: var(--social-clr);
    background-color: var(--teal);
    border-radius: 4px;
    text-decoration: none;
    padding: 2px 5px;
    position: relative;
    transition: 250ms ease;
}

.social::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--social-clr);
    transform: scaleX(0);
    transform-origin: center;
    transition: ease-in 250ms;

}

.social:hover {
    font-size: 1.5rem;
}

.social:hover::after {
    transform: scaleX(.95);
    transform-origin: center;
}

.home::before {
    content: "🏡";


}



.contact::before {
    content: "📧";

}

.social::before {
    content: "👥";

}
/* .home:hover  {
    transform: scale(1.5);
} */


main {
    position: relative;
    top: 90px;
}
/* main image */
img {
    position: relative;
    width: 20%;
    z-index: 0;
    border: var(--dark-clr) solid 1px;
    border-radius: 1em;
    top: 100px;
    box-shadow: -.25em .67em .6em var(--shadow--clr);
}

.mainsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;

}



.iconsection {
    /* width: fit-content; */

}

.iconsection p {
    display: inline;
    padding: 1em;
    margin: 2em;


}

ul {
    list-style: none;
}